<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PriorityQueueRotation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <userSettings>
    <PriorityQueueRotation.Properties.Settings>
      <setting name="SpellList" serializeAs="String">
        <value>Holy Light</value>
      </setting>
      <setting name="EnabledList" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="InterruptAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>PVE</value>
      </setting>
      <setting name="DEATHKNIGHTRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="DEATHKNIGHTRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="DRUIDRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="DRUIDRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="PALADINRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="PALADINRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="HUNTERRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="HUNTERRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="MAGERotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="MAGERotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="PRIESTRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="PRIESTRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="ROGUERotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="ROGUERotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="SHAMANRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="SHAMANRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="WARLOCKRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="WARLOCKRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="WARRIORRotation1" serializeAs="String">
        <value />
      </setting>
      <setting name="WARRIORRotation2" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshRate" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Hotkey1CTRL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hotkey1ALT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey1SHIFT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hotkey1Key" serializeAs="String">
        <value>X</value>
      </setting>
      <setting name="Hotkey2CTRL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hotkey2ALT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey2SHIFT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hotkey2Key" serializeAs="String">
        <value>Z</value>
      </setting>
      <setting name="Hotkey3CTRL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey3ALT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey3SHIFT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey3Key" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="Hotkey4CTRL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey4ALT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey4SHIFT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey4Key" serializeAs="String">
        <value>B</value>
      </setting>
      <setting name="Hotkey0CTRL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hotkey0ALT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey0SHIFT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Hotkey0Key" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="DEATHKNIGHTRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="DEATHKNIGHTRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="DRUIDRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="DRUIDRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="PALADINRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="PALADINRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="HUNTERRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="HUNTERRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="MAGERotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="MAGERotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="PRIESTRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="PRIESTRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="ROGUERotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="ROGUERotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="SHAMANRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="SHAMANRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="WARLOCKRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="WARLOCKRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="WARRIORRotation3" serializeAs="String">
        <value />
      </setting>
      <setting name="WARRIORRotation4" serializeAs="String">
        <value />
      </setting>
      <setting name="StartRotation" serializeAs="String">
        <value>PAPERDOLLOPEN </value>
      </setting>
      <setting name="ChangeRotation" serializeAs="String">
        <value>SHEATHINGSHIELDUNSHEATHE </value>
      </setting>
      <setting name="EndRotation" serializeAs="String">
        <value>PAPERDOLLCLOSE </value>
      </setting>
      <setting name="StartInterrupt" serializeAs="String">
        <value>igAbilityOpen </value>
      </setting>
      <setting name="StopInterrupt" serializeAs="String">
        <value>igAbilityClose </value>
      </setting>
      <setting name="ShowMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmartHotkey" serializeAs="String">
        <value>PQR_SmartHotkey</value>
      </setting>
      <setting name="Hotkey5ALT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey5CTRL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hotkey5Key" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="Hotkey5SHIFT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InterruptDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CombatRequirement" serializeAs="String">
        <value>Rotation Designated</value>
      </setting>
    </PriorityQueueRotation.Properties.Settings>
  </userSettings>
</configuration>
